body {
  background-color: rgb(32, 31, 31);
}

h1 {
  font-size: 50px;
  color: rgb(200, 182, 137);
  text-align: center;
}

h4 {
  border-bottom: 5px solid;
  border-color: rgb(226, 218, 198);
  font-size: 35px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  text-align: center;
}

#shelf {
  margin: auto;
  width: 50%;
  border: 5px solid whitesmoke;
  border-radius: 5px;
}

#collection {
  display: none;
}

.game {
  margin: 30px;
  padding: 10px;
}

.gameTitle {
  color: whitesmoke;
  font-size: 40px;
}

.gameDescription {
  color: whitesmoke;
  font-size: 20px;
}

.addGameContainer {
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  /* bottom: 75%; */
  left: 50%;
  margin-left: -80px;
}

#suggestions {
  display: none;
}

#preferences {
  display: none;
}