body {
  background-color: rgb(32, 31, 31);
}

h1 {
  font-size: 50px;
  color: rgb(200, 182, 137);
  text-align: center;
}

h4 {
  border-bottom: 5px solid;
  border-color: rgb(226, 218, 198);
  font-size: 35px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  text-align: center;
}

#shelf {
  margin: auto;
  width: 50%;
  border: 5px solid whitesmoke;
  border-radius: 5px;
}

#openShelf {
  margin: auto;
  width: 80%;
  border: 5px solid whitesmoke;
  border-radius: 5px;
  background-color: orange;
}

#collection {
  display: none;
}