body {
  margin: 0;
}

#header {
  height: 80px;
  background-color: aquamarine;
}

#title {
  margin: 0;
  position: absolute;
  left: 110px;
  display: inline;
}

#profile {
  display: inline;
  right: 110px;
  position: absolute;
  margin: 18px;
  height: 37px;
}

#username {
  margin: 0;
  display: inline-block;
  text-align: right;
}

.login {
  margin: 0;
  display: inline-block;
  text-align: right;
  /* margin: 3px; */
  font-size: 15px;
}

.loginButton {
  background: none;
  font-weight: 900;
  border: none;
  padding: 0;
}

#spacer {
  width: 10px;
  display: inline-block;
}

#profilePic {
  border: 1px solid;
  border-radius: 50%;
  height: 37px;
  width: 37px;
  display: inline-block;
  background: brown;
}

#loginDropdown {
  position: fixed;
  border: 1px solid;
  margin: 18px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  right: 110px;
}

#loginDropdown input {
  margin: 7px;
  margin-bottom: 0px;
}

#loginDropdown button {
  margin: 7px;
}

.switchDropdown {
  border: none;
  color: blue;
  background: none;
}

#bodyContainer {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  height: 500px;
}

#leftSideBar {
  grid-column: 1;
  padding: 10px;
}

#gameDisplayArea {
  grid-column: 2;
  /* border: 1px solid; */
  border-top: none;
  border-bottom: none;
  padding: 10px;
  box-shadow: 3px 0 2px lightgray, -3px 0 2px lightgray;
}

#rightSideBar {
  grid-column: 3;
  padding: 10px;
}