body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#header {
  height: 80px;
  /* background-color: #35524A; */
  color: white;
  background-color: #1e2834;
}

#title {
  margin: 0;
  position: absolute;
  left: 110px;
  display: inline;
  font-family: 'Bangers', cursive;
  font-size: 30px;
  padding: 0;
}

#title h1 {
  font-size: 2.3em;
  margin: 0;
  color: #EAA448;
}

#profile {
  display: inline;
  right: 110px;
  position: absolute;
  margin: 18px;
  height: 37px;
}

#username {
  margin: 0;
  display: inline-block;
  text-align: right;
}

.login {
  margin: 0;
  display: inline-block;
  text-align: right;
  /* margin: 3px; */
  font-size: 15px;
}

.loginButton {
  background: none;
  font-weight: 900;
  border: none;
  padding: 0;
  color: white;
}

#spacer {
  width: 10px;
  display: inline-block;
}

#profilePic {
  border: 1px solid;
  border-radius: 50%;
  height: 37px;
  width: 37px;
  display: inline-block;
  background: #00a7e1;
}

#loginDropdown {
  position: fixed;
  border: 1px solid;
  margin: 18px;
  margin-top: 25px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  right: 110px;
}

#loginDropdown input {
  margin: 7px;
  margin-bottom: 0px;
}

#loginDropdown button {
  margin: 7px;
}

.switchDropdown {
  border: none;
  color: blue;
  background: none;
}

#bodyContainer {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  height: fit-content;
  min-height: 1200px;
  margin-bottom: 30px;
}

#leftSideBar {
  grid-column: 1;
  padding: 10px;
  text-align: center;
  background-color: #FBFBFB;
}

#leftSideBar button {
  border: none;
  background: none;
  padding: 15px;
}

#leftSideBar button:hover {
  cursor:pointer;
}

#gameDisplayArea {
  grid-column: 2;
  /* border: 1px solid; */
  border-top: none;
  border-bottom: none;
  padding: 10px;
  box-shadow: 3px 0 2px lightgray, -3px 0 2px lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#gameCard {
  margin: 5px;
  text-align: center;
  border-bottom: 1px solid;
  padding: 20px;
}

#gameCard:hover {
  cursor: pointer;
}

#gameCard img {
  width: 13vw;
}

#gameDetailContainer {
  text-align: center;
}

#gameDetail {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  max-width: 1000px;
}

#gameDetail img {
  max-height: 70vh;
}

#gameDetail p {
  /* text-align: left; */
  align-content: center;
}

#rightSideBar {
  grid-column: 3;
  padding: 10px;
  background-color: #FBFBFB;
}

#gameInfo {
  justify-content: end;
}

#footer {
  background-color: #1e2834;
  padding: 15px;
  color: white;
  height: 20px;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
}